
input.c-password[type="password"] {
  display: block;
  width: 276px;
  height: 36px;
  margin-top: 20px;
  padding: 7px 10px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.6);
  outline: 0;
  background-color: #FFF;
}


input.c-password[type="password"].f-small {
  width: 88px;
}


input.c-password[type="password"].f-flex {
  width: 100%;
  min-width: 88px;
  max-width: 400px;
}


input.c-password[type="password"]:hover {
  border-color: rgba(0, 0, 0, 0.8);
}


input.c-password[type="password"]:focus,
input.c-password[type="password"]:active,
input.c-password[type="password"]:focus {
  border-color: #0078D7;
}


input.c-password[type="password"][disabled] {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.2);
}


input.c-password[type="password"][readonly] {
  border: 1px solid rgba(0, 0, 0, 0.6);
  background-color: #e6e6e6;
}
