.m-live-gold-badge {
  margin-top: 40px;
  margin-right: 40px;
  display: inline-block;
  position: relative;
  float: right;
}

.m-live-gold-badge > div {
  width: 100%;
  padding-top: 50px;
  position: absolute;
  top: 0;
  color: #FFF;
  text-align: center;
}

.m-live-gold-badge > div * {
  padding: 0;
}

@media only screen and (max-width: 768px) {
  .m-live-gold-badge {
    margin-right: 0;
    margin-left: 75px;
    float: none;
  }
}

@media only screen and (max-width: 539px) {
  .m-live-gold-badge {
    margin-left: 25px;
  }
}
