<div class="context-row-space">
    {{> hero-item-template hololens-developer-edition.lead-hero}}
</div>

<div class="context-center-text">
    {{> heading-template hololens-developer-edition.l3-heading}}
    <hr class="c-divider">
</div>

<div>
    {{> multi-column-module hololens-developer-edition.paragraph}}
</div>

<div>
    {{> drawer-template hololens-developer-edition.drawer-one}}
</div>

<div class="context-center-text">
    {{> heading-template hololens-developer-edition.l3-heading}}
    {{> paragraph-template hololens-developer-edition.l4-subhead-paragraph}}
    <div class="context-padding-20">
        {{> call-to-action-template hololens-developer-edition.call-to-action}}
    </div>
</div>

{{> content-placement-module hololens-developer-edition.content-placement-four}}

{{> feature-template hololens-developer-edition.alpha-feature}}

{{> image-template hololens-developer-edition.picture-element}}

<div class="context-center-text">
    {{> heading-template hololens-developer-edition.l3-heading}}
    {{> paragraph-template hololens-developer-edition.l4-subhead-paragraph}}
</div>
{{> content-placement-module hololens-developer-edition.content-placement-four}}

<div class="context-center-text">
    {{> heading-template hololens-developer-edition.l3-heading}}
    {{> paragraph-template hololens-developer-edition.l4-subhead-paragraph}}
    <div class="context-padding-20">
        {{> call-to-action-template hololens-developer-edition.call-to-action}}
    </div>
</div>

{{> hero-item-template hololens-developer-edition.blank-hero}}

<div class="context-center-text">
    {{> heading-template hololens-developer-edition.l3-heading}}
    {{> paragraph-template hololens-developer-edition.l4-subhead-paragraph}}
    <div class="context-padding-20">
        {{> call-to-action-template hololens-developer-edition.call-to-action}}
    </div>
</div>

{{> content-placement-module hololens-developer-edition.content-placement-two}}
{{> heading-template hololens-developer-edition.l3-heading}}
{{> content-placement-module hololens-developer-edition.content-placement-four}}
{{> content-placement-module hololens-developer-edition.content-placement-four}}