---
layout: ./partners/cmg/templates/layouts/base.hbs
---

</head>
    <body>
        <div data-grid="container">
            <div data-grid="col-12 pad-12x">
                {{> body }}
            </div>
        </div>

        <!--[if lt IE 9]>
        <script src="/scripts/vendor/modernizr.min.js" async></script><noscript></noscript>
        <![endif]-->
        <script src="/scripts/vendor/picturefill-3.0.1.min.js" async></script><noscript></noscript>
    </body>
