{
  "presets": [
    ["@babel/preset-env", {"modules": false}], // webpack understands the native import syntax, and uses it for tree shaking
    "@babel/preset-react" // Transpile React components to JavaScript
  ],
  "plugins": [
    [
      "module-resolver", {
        "root": ["./src"]
      }
    ]
  ],
  "env": {
    "dev": {
      "plugins": ["react-refresh/babel"]
    },
    "test": {
      "presets": ["@babel/preset-env", "@babel/preset-react"],
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
