{
  "presets": [
    ["@babel/preset-env", {"modules": false}], // webpack understands the native import syntax, and uses it for tree shaking
    "@babel/preset-react" // Transpile React components to JavaScript
  ],
  "plugins": [
    "react-hot-loader/babel", // Enables React code to work with HMR.
    [
      "module-resolver", {
      "root": ["./src"]
    }
    ]
  ],
  "env": {
    "test": {
      "presets": ["@babel/preset-env", "@babel/preset-react"],
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
