<div class="context-row-space">
    {{> hero-item-template hololens-holostudio.lead-hero}}
</div>

<div class="context-center-text">
    {{> heading-template hololens-holostudio.l3-heading}}
    <div class="context-padding-20">
        {{> call-to-action-template hololens-holostudio.call-to-action}}
    </div>
</div>

<div class="context-brand-neutral-box x-clearfix">
    {{> feature-template hololens-holostudio.alpha-feature}}
    {{> feature-template hololens-holostudio.bravo-feature}}
    {{> feature-template hololens-holostudio.alpha-feature}}
</div>

<div class="context-center-text">
    {{> heading-template hololens-commercial.l3-heading}}
    <div class="context-padding-20">
        {{> call-to-action-template hololens-holostudio.call-to-action}}
    </div>
</div>

<div class="context-placeholder-box">
    New component development required
</div>

<div class="context-placeholder-box">
    New component development required
</div>

<div class="context-center-text">
    {{> heading-template hololens-holostudio.l3-heading}}
    {{> paragraph-template hololens-holostudio.l4-subhead-paragraph}}
    <div class="context-padding-20">
        {{> call-to-action-template hololens-holostudio.call-to-action}}
    </div>
</div>
<div class="context-placeholder-box">
    New component development required
</div>

<div class="context-row-space">
    {{> hero-item-template hololens-holostudio.second-hero}}
</div>


<!-- footer -->
{{> content-placement-module hololens-holostudio.content-placement-two}}
<div class="context-center-text">
    {{> heading-template hololens-holostudio.l3-heading}}
</div>
{{> content-placement-module hololens-holostudio.content-placement-four}}
{{> content-placement-module hololens-holostudio.content-placement-four}}