span.c-tooltip {
  font-size: 13px;
  position: fixed;
  background: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.3);
  min-width: 104px;
  max-width: 340px;
  margin-top: 20px;
  padding: 12px 8px;
  line-height: 16px;
  z-index: 700;
}

span.c-tooltip[aria-hidden="true"] {
  display: none;
}

span.c-tooltip[aria-hidden="false"] {
  display: block;
}
