<div class="context-row-space">
    {{> hero-item-template hololens-developers.lead-hero}}
    {{> feature-template hololens-developers.alpha-feature}}
</div>

{{> hero-item-template hololens-developers.second-hero}}

<div class="context-center-text">
    {{> heading-template hololens-developers.l3-heading}}
    {{> paragraph-template hololens-developers.l4-subhead-paragraph}}
    <div class="context-padding-20">
        {{> call-to-action-template hololens-developers.call-to-action}}
    </div>
</div>

{{> feature-template hololens-developers.bravo-feature}}
{{> feature-template hololens-developers.alpha-feature}}

<div class="context-placeholder-box context-carousel-placeholder-box">
    New component development required
</div>

<div class="context-center-text">
    {{> heading-template hololens-developers.l3-heading}}
    <hr class="c-divider">
</div>

<div>
    {{> multi-column-module hololens-commercial.paragraph}}
</div>

{{> hero-item-template hololens-landing.blank-hero}}

<div class="context-center-text">
    {{> heading-template hololens-developers.l3-heading}}
    {{> paragraph-template hololens-developers.l4-subhead-paragraph}}
    <div class="context-padding-20">
        {{> call-to-action-template hololens-developers.call-to-action}}
    </div>
</div>

{{> content-placement-module hololens-developers.content-placement-two}}
<div class="context-center-text">
    {{> heading-template hololens-developers.l3-heading}}
</div>
{{> content-placement-module hololens-developers.content-placement-four}}
{{> content-placement-module hololens-developers.content-placement-four}}