<div class="context-row-space">
    {{> hero-item-template hololens-apps.lead-hero}}
</div>

{{> image-template hololens-apps.picture-element }}

<div class="context-center-text">
    {{> heading-template hololens-apps.l3-heading}}
    {{> paragraph-template hololens-apps.l4-subhead-paragraph}}
</div>

{{> content-placement-module hololens-apps.content-placement-four}}

<div class="context-brand-neutral-box context-center-text x-clearfix">
    {{> heading-template hololens-apps.l3-heading}}
    {{> paragraph-template hololens-apps.l4-subhead-paragraph}}
    <div class="context-placeholder-box">
        New component development required
    </div>
    <div class="context-placeholder-box">
        New component development required
    </div>
    <div class="context-placeholder-box">
        New component development required
    </div>
    <div class="context-placeholder-box">
        New component development required
    </div>
    <div class="context-placeholder-box">
        New component development required
    </div>
    <div class="context-placeholder-box">
        New component development required
    </div>
    <div class="context-placeholder-box">
        New component development required
    </div>
</div>

<div class="context-center-text">
    {{> heading-template hololens-apps.l3-heading}}
    {{> paragraph-template hololens-apps.l4-subhead-paragraph}}
    <div class="context-padding-20">
        {{> call-to-action-template hololens-apps.call-to-action}}
    </div>
</div>

<div class="context-placeholder-box">
    New component development required
</div>

<div class="context-center-text context-pb-20">
    {{> heading-template hololens-apps.l4-heading}}
    {{> paragraph-template hololens-apps.l4-subhead-paragraph}}
</div>

<div class="context-center-text hack padding-20 context-pb-20">
    {{> heading-template hololens-apps.l3-heading}}
    {{> paragraph-template hololens-apps.l4-subhead-paragraph}}
    <div class="context-padding-20">
        {{> call-to-action-template hololens-apps.call-to-action}}
    </div>
</div>

<div class="context-row-space">
    {{> hero-item-template hololens-apps.software}}
</div>

{{> content-placement-module hololens-apps.product-placement}}

<!-- footer -->
{{> content-placement-module hololens-apps.content-placement-two}}
<div class="context-center-text">
    {{> heading-template hololens-apps.l3-heading}}
</div>
{{> content-placement-module hololens-apps.content-placement-four}}
{{> content-placement-module hololens-apps.content-placement-four}}