<div class="context-row-space">
  {{> hero-item-template hololens-landing.lead-hero}}
</div>

{{> feature-template hololens-landing.alpha-feature}}

<div class="context-center-text">
    {{> heading-template hololens-landing.l3-heading}}
    {{> paragraph-template hololens-landing.l4-subhead-paragraph}}
    <div class="context-padding-20">
        {{> call-to-action-template hololens-landing.call-to-action}}
    </div>
</div>

{{> hero-item-template hololens-landing.blank-hero}}

<div class="context-center-text">
    {{> heading-template hololens-landing.small-header}}
</div>

<div class="context-center-text">
    {{> heading-template hololens-landing.l3-heading}}
    {{> paragraph-template hololens-landing.l4-subhead-paragraph}}
    <div class="context-padding-20">
        {{> call-to-action-template hololens-landing.call-to-action}}
    </div>
</div>

{{> hero-item-template hololens-landing.blank-hero}}

<!-- some sort of link group? Need to talk with designer. -->

<div class="context-center-text">
    {{> paragraph-template hololens-landing.l4-subhead-paragraph}}
    <div class="context-padding-20">
        {{> call-to-action-template hololens-landing.call-to-action}}
    </div>
</div>

{{> hero-item-template hololens-landing.blank-hero}}

<div class="context-center-text">
    {{> heading-template hololens-landing.l3-heading}}
    {{> paragraph-template hololens-landing.l4-subhead-paragraph}}
    <div class="context-padding-20">
        {{> call-to-action-template hololens-landing.call-to-action}}
    </div>
</div>

{{> content-placement-module hololens-landing.content-placement-two}}

{{> hero-item-template hololens-landing.blank-hero}}

{{> image-template hololens-landing.picture-element}}

<div class="context-center-text">
    {{> heading-template hololens-landing.l3-heading}}
</div>

{{> content-placement-module hololens-landing.content-placement-four}}

{{> content-placement-module hololens-landing.content-placement-four}}