<div class="context-row-space">
    {{> hero-item-template hololens-apps.lead-hero}}
</div>

<div class="context-brand-neutral-box x-clearfix">
    <div class="context-center-text">
        {{> heading-template hololens-commercial.l3-heading}}
        {{> paragraph-template hololens-commercial.l4-subhead-paragraph}}
    </div>
    {{> feature-template hololens-commercial.alpha-feature}}
    {{> feature-template hololens-commercial.bravo-feature}}
    {{> feature-template hololens-commercial.alpha-feature}}
    {{> feature-template hololens-commercial.bravo-feature}}
    {{> feature-template hololens-commercial.alpha-feature}}
</div>

<div class="context-brand-neutral-box x-clearfix">
    <div class="context-center-text">
        {{> heading-template hololens-commercial.l3-heading}}
        {{> paragraph-template hololens-commercial.l4-subhead-paragraph}}
    </div>
    <div class="context-placeholder-box context-carousel-placeholder-box">
        New carousel component development required
    </div>
</div>

<div>
    {{> feature-template hololens-commercial.alpha-feature}}
</div>

<div class="context-center-text">
    {{> heading-template hololens-commercial.l3-heading}}
    <hr class="c-divider">
</div>

<div>
    {{> multi-column-module hololens-commercial.paragraph}}
</div>

{{> content-placement-module hololens-commercial.content-placement-two}}
<div class="context-center-text">
    {{> heading-template hololens-commercial.l3-heading}}
</div>
{{> content-placement-module hololens-commercial.content-placement-four}}
{{> content-placement-module hololens-commercial.content-placement-four}}