---
title: Internal example page
removeContainer: true
---

{{> hero-module example-partner-page.lead-hero }}

<div data-grid="container">
    {{> feature-module example-partner-page.bring-ideas }}
    {{> banner-module example-partner-page.heading-call-to-action }}
    {{> feature-module example-partner-page.advanced-tech }}
    {{> content-placement-module hololens-apps.dev-explore-two-up }}
    <div class="m-">
        {{> image-template example-partner-page.prod-shot }}
    </div>
    {{> mosaic-module example-partner-page.pattern-two }}
    <div class="m-">
        {{> image-template example-partner-page.windows }}
    </div>
    {{> content-placement-module example-partner-page.h-computing-three-up }}
    {{> content-placement-module example-partner-page.info-three-up }}
    {{> product-placement-module example-partner-page.product-placement-large }}
    <div data-grid="col-12">
        {{> rich-heading-module example-partner-page.logo-rich-heading }}
    </div>
    {{> feature-module example-partner-page.r-feature }}
    {{> feature-module example-partner-page.l-feature }}
    {{> feature-module example-partner-page.r-feature }}
    {{> feature-module example-partner-page.l-feature }}
    {{> content-placement-module example-partner-page.win10-four }}
</div>