//  ==========================================================================
//  Component: Divider
//  ==========================================================================

#{$migration-divider}
hr.c-divider {
    border: 0;
    border-top: 1px solid $color-foreground-20;
    margin: 0;
}