<div class="context-row-space">
    {{> hero-item-template hololens-whyhololens.lead-hero}}
</div>

{{> feature-template hololens-whyhololens.alpha-feature}}

<div class="context-placeholder-box">
    New component development required
</div>

{{> video-template hololens-whyhololens.video}}

<div class="context-center-text">
    {{> heading-template hololens-whyhololens.l3-heading}}
    {{> paragraph-template hololens-whyhololens.l4-subhead-paragraph}}
    <div class="context-padding-20">
        {{> call-to-action-template hololens-whyhololens.call-to-action}}
    </div>
</div>

{{> hero-item-template hololens-whyhololens.blank-hero}}

<div class="context-placeholder-box">
    New component development required
</div>

<div class="context-center-text">
    {{> heading-template hololens-whyhololens.l3-heading}}
    {{> paragraph-template hololens-whyhololens.l4-subhead-paragraph}}
</div>

{{> content-placement-module hololens-whyhololens.content-placement-four}}

<div class="context-center-text">
    {{> heading-template hololens-whyhololens.l3-heading}}
    {{> paragraph-template hololens-whyhololens.l4-subhead-paragraph}}
    <div class="context-padding-20">
        {{> call-to-action-template hololens-whyhololens.call-to-action}}
    </div>
</div>

<div class="context-placeholder-box">
    New component development required
</div>

{{> hero-item-template hololens-whyhololens.another-hero}}

<!-- footer -->
{{> content-placement-module hololens-whyhololens.content-placement-two}}
<div class="context-center-text">
    {{> heading-template hololens-whyhololens.l3-heading}}
</div>
{{> content-placement-module hololens-whyhololens.content-placement-four}}
{{> content-placement-module hololens-whyhololens.content-placement-four}}