<div class="context-row-space">
    {{> hero-item-template hololens-hardware.lead-hero}}
</div>

{{> image-template hololens-apps.picture-element }}

<div class="context-placeholder-box">
    New component development required
</div>
<div class="context-center-text">
    {{> heading-template hololens-hardware.l3-heading}}
    {{> paragraph-template hololens-hardware.l4-subhead-paragraph}}
</div>

{{> video-template hololens-hardware.video}}

{{> mosaic-template hololens-hardware.pattern-seven }}

<div class="context-placeholder-box">
    New component development required
</div>

<div class="context-center-text">
    {{> heading-template hololens-hardware.l2-heading}}
    {{> paragraph-template hololens-hardware.l4-subhead-paragraph}}
</div>

<div class="context-placeholder-box">
    New component development required
</div>

<div class="context-center-text">
    {{> heading-template hololens-hardware.l2-heading}}
    {{> paragraph-template hololens-hardware.l4-subhead-paragraph}}
</div>

<div class="context-placeholder-box">
    New component development required
</div>

{{> hero-item-template hololens-hardware.second-hero}}



<!-- footer area -->
{{> content-placement-module hololens-hardware.content-placement-two}}
<div class="context-center-text">
    {{> heading-template hololens-hardware.l3-heading}}
</div>
{{> content-placement-module hololens-hardware.content-placement-four}}
{{> content-placement-module hololens-hardware.content-placement-four}}