@charset "UTF-8";
button.c-refine-item, a.c-refine-item {
  position: relative;
  display: block;
  padding: 12px;
  border: 0;
  width: 100%;
  background: transparent;
  color: rgba(0, 0, 0, 0.6);
}

button.c-refine-item span, a.c-refine-item span {
  text-align: left;
  display: block;
  overflow: hidden;
  white-space: nowrap;
}

button.c-refine-item:after, a.c-refine-item:after {
  font-family: "MWF-MDL2";
  content: "";
  position: absolute;
  right: 0;
  top: 16px;
  display: none;
  width: 44px;
  font-size: 13px;
  text-align: center;
}

button.c-refine-item:focus, a.c-refine-item:focus {
  outline: 1px dashed #000;
}

button.c-refine-item:hover, a.c-refine-item:hover {
  background: rgba(0, 0, 0, 0.1);
}

button.c-refine-item:active, a.c-refine-item:active {
  background: rgba(0, 0, 0, 0.3);
}

button[aria-selected="true"].c-refine-item, a[aria-selected="true"].c-refine-item, button[aria-checked="true"].c-refine-item, a[aria-checked="true"].c-refine-item {
  padding-right: 44px;
  background: rgba(0, 0, 0, 0.1);
  font-weight: 600;
  color: #000;
}

button[aria-selected="true"].c-refine-item:hover, a[aria-selected="true"].c-refine-item:hover, button[aria-checked="true"].c-refine-item:hover, a[aria-checked="true"].c-refine-item:hover {
  background: rgba(0, 0, 0, 0.2);
}

button[aria-selected="true"].c-refine-item:active, a[aria-selected="true"].c-refine-item:active, button[aria-checked="true"].c-refine-item:active, a[aria-checked="true"].c-refine-item:active {
  background: rgba(0, 0, 0, 0.3);
}

button[aria-selected="true"].c-refine-item:after, a[aria-selected="true"].c-refine-item:after, button[aria-checked="true"].c-refine-item:after, a[aria-checked="true"].c-refine-item:after {
  display: inline-block;
}
