@charset "UTF-8";
.c-video {
  display: inline-block;
  margin: 0;
  width: 100%;
  min-width: 320px;
  direction: ltr;
  position: relative;
  overflow: hidden;
}

.c-video > [aria-hidden="true"] {
  display: none;
}

.c-video video {
  display: block;
  min-width: 100%;
  width: 100%;
  max-height: 100%;
  height: auto;
  background: #000;
}

.c-video .f-progress {
  direction: ltr;
  width: 100%;
  width: calc(100% - 288px);
  display: inline-block;
  margin-bottom: 4px;
}

.c-video .f-progress div {
  background: rgba(255, 255, 255, 0.4);
}

.c-video .f-progress div button:hover,
.c-video .f-progress div button:active {
  background: #FFF;
}

.c-video .f-progress div button:hover span,
.c-video .f-progress div button:active span {
  display: block;
}

.c-video .f-progress div button span {
  font-size: 13px;
  width: auto;
  top: -50px;
  background: #000;
  color: #FFF;
}

@media (max-width: 767px) {
  .c-video .f-progress div button span {
    font-size: 12px;
  }
}

.c-video button {
  color: #FFF;
  background: transparent;
  border: 0;
}

.c-video .f-video-controls {
  font-size: 24px;
  width: 100%;
  max-width: 1779px;
  height: 44px;
  background: #000;
  position: absolute;
  bottom: 0;
  display: inline-block;
}

@media (max-width: 767px) {
  .c-video .f-video-controls {
    font-size: 20px;
  }
}

.c-video .f-video-controls button.c-glyph {
  width: 44px;
  height: 44px;
  padding-top: 4px;
  vertical-align: middle;
}

.c-video .f-video-controls button.c-glyph.glyph-volume, .c-video .f-video-controls button.c-glyph.glyph-mute {
  padding-top: 12px;
}

.c-video .f-video-controls button.c-glyph:hover, .c-video .f-video-controls button.c-glyph:focus {
  color: rgba(255, 255, 255, 0.6);
}

.c-video .f-video-controls button.c-glyph:focus {
  outline: 1px dashed #FFF;
}

.c-video .f-video-controls button.c-glyph:active {
  color: rgba(255, 255, 255, 0.4);
}

.c-video .f-video-controls .f-timecode {
  font-size: 13px;
  color: #FFF;
  padding-right: 12px;
  position: relative;
  top: -2px;
}

@media (max-width: 767px) {
  .c-video .f-video-controls .f-timecode {
    font-size: 12px;
  }
}

.c-video .f-video-controls .f-timecode span {
  color: rgba(255, 255, 255, 0.6);
}

.c-video .f-play-pause {
  margin-left: 1px;
  margin-top: 1px;
}

.c-video .f-play-pause span {
  font-size: 13px;
  color: #FFF;
  position: absolute;
  height: 36px;
  min-width: 44px;
  bottom: 46px;
  left: 0;
  background: #000;
  padding: 8px;
}

@media (max-width: 767px) {
  .c-video .f-play-pause span {
    font-size: 12px;
  }
}

.c-video .f-play-pause span[aria-hidden="true"] {
  display: none;
}

.c-video .f-play-pause span[aria-hidden="false"] {
  display: block;
}

.c-video .f-full-screen {
  display: inline-block;
  position: absolute;
  top: 1px;
  right: 1px;
}

.c-video .f-full-screen span {
  font-size: 13px;
  color: #FFF;
  position: absolute;
  height: 36px;
  min-width: 44px;
  text-align: right;
  bottom: 47px;
  right: 0;
  background: #000;
  padding: 8px;
}

@media (max-width: 767px) {
  .c-video .f-full-screen span {
    font-size: 12px;
  }
}

.c-video .f-full-screen span[aria-hidden="true"] {
  display: none;
}

.c-video .f-full-screen span[aria-hidden="false"] {
  display: block;
}

.c-video .f-volume-button {
  display: inline-block;
  position: absolute;
  top: -4px;
  right: 45px;
}

.c-video .f-volume-slider {
  position: absolute;
  width: 44px;
  min-height: 148px;
  bottom: 46px;
  right: 46px;
  background: #000;
  border: 1px solid rgba(255, 255, 255, 0.6);
}

.c-video .f-volume-slider[aria-hidden="true"] {
  visibility: hidden;
}

.c-video .f-volume-slider[aria-hidden="false"] {
  visibility: visible;
}

.c-video .f-volume-slider .c-slider {
  direction: ltr;
  -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
  width: 120px;
  padding-bottom: 40px;
  margin-top: 52px;
  margin-left: -18px;
}

.c-video .f-volume-slider .c-slider div {
  background: rgba(255, 255, 255, 0.4);
}

.c-video .f-volume-slider .c-slider div button:hover,
.c-video .f-volume-slider .c-slider div button:active {
  background: #FFF;
}

.c-video .f-volume-slider .c-slider div > span {
  min-height: 0;
  height: 4px;
  width: 100%;
  top: 0;
  left: 0;
  background: #0078D7;
}

.c-video .f-volume-slider .c-slider div button {
  z-index: 1;
}

.c-video .f-volume-slider .c-slider div button span {
  font-size: 13px;
  width: auto;
  -ms-transform: rotate(90deg);
      transform: rotate(90deg);
  min-width: 40px;
  min-height: 32px;
  top: 38px;
  left: -16px;
  background: #000;
  color: #FFF;
  border: 1px solid rgba(255, 255, 255, 0.6);
}

@media (max-width: 767px) {
  .c-video .f-volume-slider .c-slider div button span {
    font-size: 12px;
  }
}

.c-video .f-options {
  display: inline-block;
  position: absolute;
  top: 1px;
  right: 90px;
  margin-left: 12px;
}

.c-video .f-options-dialog {
  position: absolute;
  bottom: 46px;
  right: 90px;
  width: 160px;
  background: #000;
  border: 1px solid rgba(255, 255, 255, 0.6);
  overflow: hidden;
}

.c-video .f-options-dialog .c-list {
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 160px;
}

.c-video .f-options-dialog .c-list li {
  height: 40px;
  padding: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
}

.c-video .f-options-dialog .c-list li:first-child {
  border-top: 0;
}

.c-video .f-options-dialog .c-list li ul {
  display: none;
  left: 160px;
}

.c-video .f-options-dialog .c-list li ul li {
  position: relative;
}

.c-video .f-options-dialog .c-list li a {
  font-size: 13px;
  color: #FFF;
  display: block;
  height: 100%;
  width: 100%;
  padding: 8px 12px;
}

@media (max-width: 767px) {
  .c-video .f-options-dialog .c-list li a {
    font-size: 12px;
  }
}

.c-video .f-options-dialog .c-list li a .c-image {
  padding-right: 12px;
  display: inline-block;
}

.c-video .f-options-dialog .c-list li a.c-action-trigger {
  margin-top: 0;
}

.c-video .f-options-dialog .c-list li a.c-action-trigger:before {
  margin-left: 1px;
  margin-bottom: 5px;
}

.c-video .f-options-dialog .c-list li a.c-glyph[data-video-selectable] {
  color: rgba(255, 255, 255, 0.8);
}

.c-video .f-options-dialog .c-list li a.glyph-check-mark[data-video-selectable] {
  color: #FFF;
}

.c-video .f-options-dialog .c-list li a.glyph-check-mark[data-video-selectable]:before {
  float: right;
  margin-right: 0;
}

.c-video .f-options-dialog .c-list li a:hover {
  text-decoration: none;
  background: rgba(255, 255, 255, 0.1);
}

.c-video .f-options-dialog .c-list li a:focus {
  border: 1px dashed #FFF;
}

.c-video .f-options-dialog .c-list li a:active {
  text-decoration: none;
  background: rgba(255, 255, 255, 0.2);
  border: 0;
}

.c-video .f-options-dialog[aria-hidden="true"] {
  visibility: hidden;
}

.c-video .f-options-dialog[aria-hidden="false"] {
  visibility: visible;
}

.c-video .glyph-play:before {
  font-family: "MWF-MDL2";
  content: "";
}

.c-video .glyph-pause:before {
  font-family: "MWF-MDL2";
  content: "";
}

.c-video .glyph-full-screen:before {
  font-family: "MWF-MDL2";
  content: "";
}

.c-video .glyph-mute:before {
  font-family: "MWF-MDL2";
  content: "";
}

.c-video .glyph-volume:before {
  font-family: "MWF-MDL2";
  content: "";
}

.c-video .glyph-more:before {
  font-family: "MWF-MDL2";
  content: "";
}

.c-video .glyph-copy:before {
  font-family: "MWF-MDL2";
  content: "";
}

.c-video .glyph-mail:before {
  font-family: "MWF-MDL2";
  content: "";
}

.c-video .glyph-check-mark:before {
  font-family: "MWF-MDL2";
  content: "";
}

@keyframes slidein {
  from {
    bottom: -44px;
  }
  to {
    bottom: 0;
  }
}

@keyframes slideout {
  from {
    bottom: 0;
  }
  to {
    bottom: -44px;
  }
}

.c-video .f-slidein {
  animation-duration: 0.5s;
  animation-name: slidein;
  animation-fill-mode: forwards;
}

.c-video .f-slideout {
  animation-duration: 0.5s;
  animation-name: slideout;
  animation-fill-mode: forwards;
}
