<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Hello React!</title>
    </head>
    <body>
        <div id="root"></div>

        <!-- Dependencies -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.1.0/umd/react.production.min.js" integrity="sha256-a3Gqh31szTckWYzdJZbbtMYIr5Orthy60uuPUyOBdaE=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.1.0/umd/react-dom.production.min.js" integrity="sha256-S1ieU2qF9nB6Hy5AGMFCXtb+c+jtQ0ZFLuJJSfKPhrk=" crossorigin="anonymous"></script>
    </body>
</html>
